.confirmedCard {
  width: 448px;
  height: 410px;
  background-color: #0f19ad;
  border-radius: 13px;
  padding: 20px;
  left: -800px;
  -webkit-animation: slide 0.5s forwards;

  animation: slide 0.5s forwards ;

}
.provinceCard {
  width: 448px;
  height: 410px;
  background-color: #dfa336;
  border-radius: 13px;
  padding: 20px;
} 
.latestDetailCard {
  width: 448px;
  height: 410px;
  background-color: #000000;
  border-radius: 13px;
  padding: 20px;
}
/* .latestDetailCard > p {
  text-align: left;
} */
.recoveredCard {
  width: 448px;
  height: 200px;
  background-color: #087030;
  border-radius: 13px;
  padding: 20px;
}
.deathsCard {
  width: 448px;
  height: 200px;
  background-color: #9c2121;
  border-radius: 13px;
  padding: 20px;
}
#confirmedLabel{
  color: white;
  font-size: 24px;
  font-weight: 800;
}
#confirmedValueLabel {
  color: #fff;
  font-size: 100px;
  font-weight: 600;
  margin-top: 50px;
}
#recoveredLabel {
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-top: -15px;
}
#recoveredValueLabel {
  color: #fff;
  font-size: 72px;
  font-weight: 600;
  margin-top: 15px;
}
#deathsLabel {
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-top: -15px;
}
#deathsValueLabel {
  color: #fff;
  font-size: 72px;
  font-weight: 600;
  margin-top: 15px;
}
#provinceLabel {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  margin-top: 50px;
}

